<div class="panel">
  <div class="panel">
    <h2>Id:</h2>
    <div class="panel"><%= @genre.id %></div>
  </div>
  <div class="panel">
    <h2>Name:</h2>
    <div class="panel"><%= @genre.name%></div>
  </div>
</div>