<div class="panel">
  <table class="table vert">
    <tr>
      <th>Id:</th>
      <td><%= @genre.id %></td>
    </tr>
    <tr>
      <th>Name:</th>
      <td><%= @genre.name %></td>
    </tr>
  </table>
</div>