/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #dfd6f5;
    color: #1f1f1f;
}

/*---------------------------------------------*/

.header {
    font-size: 20px;
    display: flex;
    font-family: Helvetica, sans-serif;
}
/*---------------------------------------------*/
.panelT {
    alignment: center;
    border: 2px black solid;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: Helvetica, sans-serif;

}
.panelaligright{
    display: flex;
    justify-content: flex-end;
}
/*---------------------------------------------*/
.panel {
    border: 2px black solid;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    alignment: center;
    font-family: Helvetica, sans-serif;
    overflow: auto;
}
.coluna{
    width: 33.3%;
    display: table-cell;
    border:1px solid #000;
    height:75px;
    vertical-align:super;
}
/*---------------------------------------------*/
.alignbutton {
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

/*---------------------------------------------*/
.table {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    border: 2px black solid;
    border-radius: 6px;
    alignment-baseline: center;

}

/*---------------------------------------------*/
.table vert {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
}

/*---------------------------------------------*/
.table tr, .table th  {
    border: 2px solid #212020;
    padding: 60px;
    align-content: center;
}


/*---------------------------------------------*/
.table th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: center;
    color: #fff;
    background-color: #2b4478;
}

/*---------------------------------------------*/
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*---------------------------------------------*/
.table tr:hover {
    background-color: #ddd;
}

/*---------------------------------------------*/

.button {
    display: inline-block;
    cursor: pointer;
    padding: 6px 10px;
    border: 1px solid #25692A;
    border-radius: 4px;
    color: #fff;
    background-color: #2b4478;
    font-weight: bold;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

/*---------------------------------------------*/
.table-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;

    width: 100%;
}

/*---------------------------------------------*/
input {
    border: 1px black solid;
    border-radius: 2px;
    font-size: 16px;
    padding: 14px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
}

textarea {
    border: 1px black solid;
    border-radius: 2px;
    font-size: 16px;
    padding: 14px 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 640px;
    height: 300px;

}

select {
    border: 1px black solid;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}
/*---------------------------------------------*/
label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    font-family: Helvetica, sans-serif;
}

/*---------------------------------------------*/
.menu-container {
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    border: 2px black solid;
    font-family: Helvetica, sans-serif;
}

/*---------------------------------------------*/
.menu-item {
    float: left;
    border: 1px black solid;
}
/*---------------------------------------------*/
.menu-item a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #3b3b3b;
    font-weight: bold;
}
/*---------------------------------------------*/
.menu-item a:hover {
    background-color: #d5d5d5 !important;
}


/*---------------------------------------------*/
font {
    font-family: Helvetica, sans-serif;
}